@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

.home-container {
  display: flex;
  flex-direction: row;
  height: 90vmin;
}

.sidebar {
  background-color:rgb(185, 185, 185);
  min-width: 200px;
  max-width: 200px;
  height: 100%;
}

.readingPane {
  max-width: 75vw;
}

.title {
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.summary, .metadata {
  color: rgb(158, 158, 158);
  font-size: 1rem;
  /* font-weight: 700; */
}

.full-content {
  font-size: 1rem;
}

.folder-name {
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  font-weight: 700;
}

.select-folder-bttn {
	border: 0;
	border-radius: 10px;
	height: 30px;
	width: 150px;
	margin-left: 10px;
	background-color: rgb(104, 187, 141);
	color: rgb(10, 10, 10);
	text-transform: uppercase;
	transition: 0.5s;
}

/* .select-folder-bttn:hover {
	background-color: var(--hover-color1);
	width: 200px;
	transition: 0.5s;
	cursor: pointer;
} */

.folder-dropdown-option-list {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	border: solid 1px rgba(211, 211, 211, 0.788);
}

.folder-dropdown-element {
	height: 20px;
	width: 200px;
	/* border: solid 1px lightgray; */
	text-align: center;
	border-radius: 10px;
}

.folder-dropdown-element:hover {
	background-color: rgb(238, 238, 238);
	transition: 0.5s;
	cursor: pointer;
}

.article-card {
	text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
	height: 25vmin;
	width: 75vmin;
}
.summary {
	overflow: ellipsis;
	white-space: pre;
  overflow: hidden;
	height: 25vmin;
	width: 75vmin;
}

/* sign-in page */
.sign-in, .sign-up {
	display:flex;
	flex-direction: row;
	border-radius: 3px;
	margin: auto;
	width: 100vw;
	height:100vmax;
	padding-top: 10vmin;
	text-align: center;
  justify-content: center;
	
}
.signin-right-side {
	margin: 50px;
	/* min-height: 60vh;
	max-height: 80vh; */
}
.signin-right-side, .signup-form-container-div {
	display:flex;
	flex-direction: column;
	border-radius: 3px;
	border: 2px solid;
	text-align: center;
  justify-content: flex-end;
	align-content: center;
	margin: 50px;
	max-width: 25rem;
	/* min-height: 60vh;*/
	max-height: 600px;
	background: rgba(255, 255, 255, 0.116);

	
}

.signin-form-buttons-div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto 50px 20px 50px;
}

.welcome-text, .sign-up-text {
	inline-size: 20rem;
	overflow-wrap: break-word;
  hyphens: manual;
	text-align: left;
	align-self:flex-start;
	font-weight: 700;
	font-size: 2rem;
	margin: 50px 50px 50px 50px;

}

.welcome-sub-text{
	margin: auto 50px 20px 50px;
}

.signup-form-container-div {
	align-self: center;
	align-self: baseline;
}

.medium-logo {
	max-height: 30%;
	max-width: 30%;
	align-self: center;
}


